.env*
*.pem
*.tfstate
*.tfstate.*.backup
*.tfplan

.terraform/
terraform.tfvars
crash.log

inventory.ini
ansible.log

*-secrets-plain.yaml
*-secret.yaml

values-secrets.yaml

charts/**/charts/
charts/**/tmp/
charts/**.tgz

.DS_Store
*.swp

.kube/